<footer>
            <div class="container-fluid justify-content-center">
        <div class="row py-5">
            <div class="col">
                <div class="card border-0">
                    <div class="card-body text-center ">
                        <h2><b>Inscrivez vous à notre newsletter</b></h2>
                        <p class="pl-0 ml-0 mb-5">Recevez toutes les nouvelles infos, les concerts et les tendances actuelles !</p>
                        <div class="row text-center justify-content-center">
                            <div class="col-auto">
                                <div class="input-group-lg input-group mb-3 "><input type="text" class="form-control" placeholder="Enter your e-mail address" aria-label="Recipient's username" aria-describedby="button-addon2">
                                    <div class="input-group-append"><button class="btn btn-success" type="button" id="button-addon2"> <b>Submit</b></button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<footer class="text-center text-lg-start bg-light text-muted">

  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >

    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>

  </section>
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Adresse de notre salle de concert
          </h6>
          <p>
            123 Rue Bidon Ramoth en Galaad (Transjordanie) à côté de la célèbre grande roue à côté du moins célèbre seul O'Tacos (seul magasin de la firme en Transjordanie) pensez à nourir le chat roux qui traîne à côté de la benne à ordure
          </p>
        </div>

</footer>
    </footer>